.column-wrap-style{
    width: 100%;
    font-style: italic;
    font-size: 1.25em;
}

h1{
    background-color:rgb(35, 206, 197);
    text-align: center;
    padding: 0.25em;
    color: rgb(49, 22, 148);
    border-radius: 1em;
}